       body{
      height:100vh;
      display:flex;
      justify-content:center;
      align-items:center;
      overflow:hidden;
      background-color:#0B0D15;
      transform:scale(1.5);
    }
    
    .btn{
      padding:8px 18px;
      border:none;
      outline:none;
      cursor:pointer;
      color:white;
      position:relative;
      z-index:0;
      border-radius:12px;
    }
    
    .btn::after {
      content:"";
      z-index:-1;
      position:absolute;
      height:100%;
      width:100%;
      top:0;
      left:0;
      background-color:#333;
      border-radius:10px;
    }
    
    .btn::before{
      content:"";
      background:linear-gradient(
        45deg,
        #7CFF6E,#3DB9B7,#DEEAC2,#ADFFF3,#FAE556,
        #FFF5B5,#1472FF,#E4FFE9);
        position:absolute;
        top:-2px;
        left:-2px;
        background-size:600%;
        z-index:-1;
        width:calc(100% + 4px);
        height:calc(100% + 4px);
        filter:blur(8px);
         animation:glowing 20s
         linear infinite;
         
        transition:opacity .3s ease-in-out;
        border-radius:10px;
        opacity:0;}
      
      @keyframes glowing{
      0% {background-position:0 0;}
     50% {background-position:400 0;}
      100% {background-position:0 0;}
    }
    
    .btn:hover::before{
      opacity:1;
    }
    
    .btn:active:after{
      background:transparent;
    }
    
    .btn:active{
      font-weight:bold;
      color:black;
        }
